<div class="search">
  <form (submit)="onSubmit()" >
    <input type="text" placeholder="Search city"  name="city" [(ngModel)]="nameCity" >
  </form>
  <button type="submit" (click)="onSubmit()">Test</button>
</div>

<div class="container" *ngIf="weatherData">
  <div class="up-data">
    <img src="assets/Good%20weahter.jpeg" *ngIf="weatherData.current.temp_c > 15">
    <img src="assets/rainnig%20weather%20.jpeg" *ngIf="weatherData.current.temp_c <= 15">

    <div class="weather-data">
      <div class="location">{{weatherData.location.name}}
      </div>
      <div class="temperature">{{weatherData.current.temp_c}}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label ">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
            <span class="icons material-symbols-outlined">
            thermostat
            </span>
          <span class="span1">min</span>
          <div class="info-block-value">{{weatherData.current.temp_c}}</div>
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
           <span class=" icons material-symbols-outlined">
             sunny
           </span>

          <span class="span1">max</span>
          <div class="info-block-value">{{weatherData.current.feelslike_c | number:'1.0-0'}} °C</div>
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
            <span class=" icons material-symbols-outlined">
              humidity_high
             </span>
          <span class="span1">humidity</span>
          <div class="info-block-value">{{weatherData.current.humidity}}%</div>
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
            <span class=" icons material-symbols-outlined">
               air
            </span>
          <span class="span1">wind</span>
          <div class="info-block-value">{{weatherData.current.wind_kph}}km/h</div>
        </div>
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet>



